.timer {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.timer h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #958349;
  margin-bottom: 15px;
  text-transform: capitalize;
  animation: fadeIn 1s ease-in-out;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.settings {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.settings label {
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.settings input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}


.txtSession {
  font-size: 30px;
}