.taskList {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.listTask {
  padding: 0px;
  margin: 0px;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  transition: background 0.2s;
  margin: 0px 10%;
  padding: 10px;
  cursor: pointer;
}

.taskItem:hover {
  background: #e0d0d0;
}

.taskItem span {
  flex: 1;
  text-align: left;
}

button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s;
}

button:hover {
  background-color: #f64242;
}